<configuration>
    <appender name="GUI" class="com.ytrsoft.gui.GUIAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="GUI" />
    </root>
</configuration>
